<h1>Edit Cars</h1>
<%= form_for(@make, :html => {:class => "form"}) do |f| %>
  <div class="">
    <%= f.label :model %>
    <%= f.text_field :model %>

  </div>
  <div class="">
    <%= f.label :year %>
    <%= f.integer_field :year %>

  </div>
  <div class="">
    <%= f.label :color %>
    <%= f.text_field :color %>

  </div>
  <%= f.submit %>
<% end %>
